@import url('https://fonts.googleapies.com/css?family=Open+Sans:wght@400;700&display=swap');

/*Estilos generales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #0f0f0f;
    padding-top: 90px;
    background-color: #fbfbfb
}
a {
    text-decoration: none;
        color: inherit;
}
ul {
    list-style: none;
}

/*main*/

main{
    max-width: 1200px;
    margin: auto; 
}

p{
    color:rgb(57, 45, 45);
    text-align: right;
}

a.btn {
    background-color: #af599e;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;}  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    background-color: #fbfbfb;
    border-bottom-style:groove;
 }
 
/*Menú de navegación*/
 ul#menu{
    display:flex;
    font-size:26px;
 }
 .menu-item {
    padding: 16px;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

 }
 li.menu-item:hover{
    background:rgb(175, 89, 158, 0.3);
    transition: backgroud-color 0.3s;
   
 }
#logos{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
section{ 
    min-height: 100vh;
}
    
    /*section inicio*/
#inicio {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 28px;
}

figure.Presentacion-img{
    margin-bottom: 20px;
    display: flex;
    justify-content: center; align-items: center;
}

figure.Presentacion-img img{
    border-radius: 50%;          
    width: 400px;
}
.Presentacion{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section#contacto {
    text-align: center;
    min-width: 600px; }

.color{
    display: flex;
    justify-content: center;
}

#tele{
    background-color: #8281dd;
    color: #f809c8;
    border: 2px dashed #0f0f0f;
    height: 20px;
}

#logo-list{
    border: 2px solid #000;
    border-radius: 20px;
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img { 
    width: 200px;
}
/*Responsive*/

/*movil*/

section#inicio {
    display: flex;
    flex-direction: column;
body{
        font-size: 14px;
        line-height: 1.2;
    }        

img{
    width: 60px;
} 
h1{
    font-size: 26px;
    text-align: center;
} 
} 
/*tablet*/
@media(min-width:768px) {
    p{ 
    font-size: 18px;
    }
}  
/*desktopk*/
@media(min-width:1024px) {
    section#inicio {
        flex-direction:row;
        min-height: 100vh;
        font-weight: 40px;
    }
}